<div id="header">
  <div id="header_image">
    <%= image_tag("panorama.jpeg") %>
  </div>
  <%- claim = render_elements :only => ["claim"] -%>
  <%- if !claim.blank? -%>
  <div id="claim">
    <%= claim %>
  </div>
  <%- end -%>
</div>
<div id="content" class="intropage">
  <%= render_elements(:except => ['header', 'claim']) %>
</div>
